<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework"
    type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
    requirePermission="false"/>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider"/>
      </buildProviders>
    </compilation>
    <httpRuntime maxRequestLength="51200" executionTimeout="300" enableVersionHeader="false"/>
    <globalization culture="en-US" uiCulture="en-US"/>
    <machineKey validation="AES"/>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes"
      cookieless="false" timeout="66"/>
    <customErrors mode="Off" defaultRedirect="pageerror.aspx"></customErrors>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <fileExtensions allowUnlisted="true">
          <add fileExtension=".sql" allowed="false"/>
          <add fileExtension=".exe" allowed="false"/>
          <add fileExtension=".dll" allowed="false"/>
        </fileExtensions>
        <requestLimits maxAllowedContentLength="52428800"/>
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
    </staticContent>
    <defaultDocument>
      <files>
        <add value="AD/index.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <appSettings>
    <add key="smtpmail" value="smtp.pttgc.corp"/>
    <add key="SystemMail" value="HumanCapital@pttgcgroup.com"/>
    <!--'Y' ส่งหาเมลจริง , 'N' ส่งหาเมลเทส-->
    <add key="IsUseRealMail" value="N"/>
    <add key="DemoMail_Sender" value="HumanCapital@pttgcgroup.com"/>
    <add key="DemoMail_Reciever" value="apicha.s@softthai.com"/>
    <!--HR Service QA-->
    <!--<add key="BaseURL_HR_Service" value="https://test-hr-ws.pttgc.corp:4320/pttgc/hcm/hrwebservices/project/services/HR/services/HR_WebServices.xsodata/" />
    <add key="Username_HR_Service" value="ODATA" />
    <add key="Password_HR_Service" value="Hana#1234" />-->
    <!--HR Service PRD-->
    <add key="BaseURL_HR_Service" value="https://hr-webservices.pttgc.corp:4330/pttgc/hcm/hrwebservices/project/services/HR/services/HR_WebServices.xsodata/"/>
    <add key="Username_HR_Service" value="odata"/>
    <add key="Password_HR_Service" value="oHotta#69"/>
    <!--Password bypass-->
    <add key="PasswordBypass" value="1234"/>
    <add key="PasswordDefault" value="P@ssw0rd"/>
    <add key="Page_Default" value="index.aspx"/>
    <add key="PageTitle" value="PTTGC Human"/>
    <!--Share Path-->
    <add key="SharePathUpFile" value="\\pttgc.corp\sgcfs\_Central\BI Project\Data Management\Sustain\HR"/>
    <add key="SharePathUser" value="pttgc\svcsustain"/>
    <add key="SharePathDomain" value="pttgc.corp"/>
    <add key="SharePathPassword" value="hkb7J$6Fz8t"/>
    <add key="IsLogonSharePath" value="Y"/>
  </appSettings>
  <connectionStrings>
    <!--Human Local-->
    <add name="PTTGC_Human_ConnectionString"
      connectionString="Data Source=GCGDRDBCLS;Initial Catalog=PTTGC_HumanCapital;User ID=PTTGC_HumanCapital;Password=P@$$w0rd1"
      providerName="System.Data.SqlClient"/>
    <add name="PTTGC_HumanEntities"
      connectionString="metadata=res://*/App_Code.PTTGC_Human.csdl|res://*/App_Code.PTTGC_Human.ssdl|res://*/App_Code.PTTGC_Human.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GCGDRDBCLS;initial catalog=PTTGC_HumanCapital;user id=PTTGC_HumanCapital;password=P@$$w0rd1;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
    <!--Human Test-->
    <!--<add name="PTTGC_Human_ConnectionString" connectionString="Data Source=10.36.136.43;Initial Catalog=PTTGC_HumanCapital;User ID=PTTGC_HumanCapital;Password=Password1" providerName="System.Data.SqlClient" />
    <add name="PTTGC_HumanEntities" connectionString="metadata=res://*/App_Code.PTTGC_Human.csdl|res://*/App_Code.PTTGC_Human.ssdl|res://*/App_Code.PTTGC_Human.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.36.136.43;initial catalog=PTTGC_HumanCapital;user id=PTTGC_HumanCapital;password=Password1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>